<p>
	<%= link_to "Submit a Link", new_post_path %>
</p>

<ul>
		<% @posts.each do |post| %>
			<li>
				<%= link_to post_votes_path(post, direction: "up"), :method => :post do %>
						<i class="icon-arrow-up"></i>
				<% end %>

				<span> <%= post.vote_number %> </span>

				<%= link_to post_votes_path(post, direction: 'down'), :method => :post do %>
						<i class="icon-arrow-down"></i>
				<% end %>

				<%= link_to post.title, post.url %> 
				(<%= link_to pluralize(post.comments.count, "comment"), post_path(post) %> )
			</li>
		<% end %>
</ul>