<h2> Show a post </h2>

<p class="hero-unit">
	<%= link_to @post.title, @post.url %>
</p>

<p> <%= pluralize(@post.comments.count, "comment") %></p>

<ul>
	<% @post.comments.each do |comment| %>
		<li>
			<%= comment.content %>
		</li>
	<% end %>
</ul>

<p>
	<h4> Create a New Comment: </h4>
	<%= form_for [@post, @comment] do |f| %>
		<%= f.label :content %>
		<%= f.text_area :content, rows: 5%>
		<br/>
		<%= f.submit "Submit This Comment" %>
	<% end %>
</p>